
$color-bg: #efeff2;
$color-bg-dark: #e9e9ec;
$color-bg-darker: #e4e4e8;
$color-border: #dfcfe3;
$color-border-dark: #cfbfd3;
$color-main-lighter: #aa11aa;
$color-main-light: #991199;
$color-main: #770077;
$color-main-dark: #550055;
$color-gray-lighter: #bbb;
$color-gray-light: #9f9f9f;
$color-gray: #888;
$color-gray-dark: #666;
