<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:site_name" content="Covfefe"/>
  <meta property="og:title" content="Covfefe"/>
  <meta property="og:description" content="A gibberish generator inspired by Trump."/>
  <meta name="author" content="Daniel Teo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="covfefe,gibberish,generator,Donald,Trump" />
  <meta charset="utf-8"/>
  <title>Covfefe</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
